body {
  text-align: center;
  font-family: Helvetica;
}

h1, h2, h3{
  font-weight: bold;
}

/* top header */
.top  {
  background-image: url("../images/background.png");
}

.top h1{
  font-size:70px;
  color: white;
}

.nav {
  font-size: 18px;
  color: white;
}

/* info sections */
.info h2{
  font-size: 32px;
}

.info-parts h3{
  font-size: 23px;
}

.info-parts p{
  font-size:14px;
}

/* middle portion */
.top h2{
  font-size: 23px;
  color: white;
}

/* footer */
.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
}
